@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Permanent+Marker&display=swap");
@import "~react-image-gallery/styles/css/image-gallery.css";
@import "leaflet/dist/leaflet.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: white;
}

::-webkit-scrollbar {
  background-color: white;
  width: 0.4vw;
}

::-webkit-scrollbar-thumb {
  background: black;
}

.show {
  opacity: 1 !important;
  visibility: visible !important;
  right: 0 !important;
}